<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuyển dụng ABC - Việc làm chất</title>
    <link rel="stylesheet" th:href="@{/stylesheets/global-stylesheet.css}">
</head>
<body>
    <header>
        <a class="logo" th:href="@{/index}">Tuyển dụng <span class="highlight">ABC</span></a>
        <div class="buttons">
            <a th:href="@{/login}">
                <button class="btn login">Đăng nhập</button>
            </a>
            <a th:href="@{/sign-up}">
                <button class="btn register">Đăng ký</button>
            </a>
        </div>
    </header>
    <main>
        <h1 style="margin-bottom: 5px">Đăng tin tuyển dụng</h1>
        <h1 style="margin-bottom: 40px">Tìm kiếm việc làm hiệu quả</h1>
        <a class="btn apply" th:href="@{/sign-up}">Tham gia ngay</a>
    </main>
    <img th:src="@{/images/background.png}" class="img" alt="Background">
    <footer>
        <p>© 2024 Tuyển dụng ABC. All rights reserved.</p>
    </footer>
</body>
</html>
