<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" th:href="@{/stylesheets/global-stylesheet.css}">
</head>
<body>
    <header>
        <a class="logo" th:href="@{/index}">Tuyển dụng <span class="highlight">ABC</span></a>
        <div class="buttons">
            <a th:href="@{/login}">
                <button class="btn login">Đăng nhập</button>
            </a>
            <a th:href="@{/sign-up}">
                <button class="btn register">Đăng ký</button>
            </a>
        </div>
    </header>
    <div class="container">
        <h2>Đăng nhập</h2>
        <form method="post" th:action="@{/login/submit}" th:object="${user}">
            <div th:if="${param.error}">
                <div style="color:red">Invalid Email or Password</div>
            </div>
            <input type="text" id="username" name="username" placeholder="Tên đăng nhập" th:field="*{username}">
            <input type="password" id="password" name="password" placeholder="Mật khẩu" th:field="*{password}">
            <button type="submit">Đăng nhập</button>
            <p>Chưa có tài khoản? <a th:href="@{/sign-up}">Đăng ký</a></p>
        </form>
    </div>
    <footer>
        <p>© 2024 Tuyển dụng ABC. All rights reserved.</p>
    </footer>
</body>
</html>
