/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    height: 100vh;
}

/* Header Styles */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}

.logo .highlight {
    color: #006F18;
    text-decoration: inherit;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons .btn {
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #006F18;
    background-color: white;
    color: #006F18;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
}

.buttons .btn.register {
    background-color: #006F18;
    color: white;
}

/* Main Content Styles */
main {
    text-align: center;
    margin-top: 50px;
    padding: 0 10px;
}

main h1 {
    font-size: 45px;
    color: #303030;
}

main .btn.apply {
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    background-color: #006F18;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: inherit;
}

img {
   height: auto;
   width:50%;
}

/* Container Styles */
.container {
    background-color: #fff;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Form Styles */
h2 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Button Styles */
button {
    width: 100%;
    background-color: #006F18;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005F14;
}

/* Link Styles */
a {
    color: #006F18;
}

footer {
    width: 100%;
    background-color: #006F18;
    padding: 20px 0;
    text-align: center;
    color: white;
    margin-top: auto;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

@media (max-width: 768px) {
    /* Responsive adjustments */
    header {
        padding: 15px 50px;
    }
    .main-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    img {
       margin-top: 10px;
       height: auto;
       width:80%;
    }
    main h1 {
        font-size: 25px;
        color: #303030;
    }
    .sidebar {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .content {
        width: 100%;
        padding: 10px;
        overflow-x: auto; /* Scroll horizontally if table overflows */
    }
}